<!-- src/app/app.component.html -->

<header>
  <h1>Project Management Tool - Projet ISCOD</h1>
  <nav>
    <a routerLink="/home">Accueil</a> |
    <a routerLink="/tasks">Tâches</a> |
    <a routerLink="/login">Connexion</a> |
    <a routerLink="/register">Inscription</a> |
    <a routerLink="/projects">Projets</a>
  </nav>
</header>

<!-- Endroit où les composants des routes seront affichés -->
<router-outlet></router-outlet>

<footer>
  <p>&copy; 2025 Project Management Tool Adrien</p>
</footer>
